.button_add {
    background-color: #1B1A17;
    color: #FF8303;
    border-radius: 5px;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 40px;
    padding: 10px 10px;
    margin: 0;
    border: 2px solid #FF8303;
    cursor:  pointer;
}
.button_add:active{
    background-color: #1F1E1B;
}

input {
    background-color: #1B1A17;
    color: #F0E3CA;
    border-radius: 5px;
    height: 40px;
    width: 90vw;
    text-align: left;
    padding: 0px 10px;
    font-size: 16px;
    margin: 0;
    border: 2px solid #FF8303;
    cursor:  pointer;
    opacity: 50%;
}
input:focus {
    opacity: 100%;
    outline: none;
}
.button_dialog {
    background-color: #1B1A17;
    color: #F0E3CA;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    text-align: center;
    padding: 0px 10px;
    font-size: 16px;
    margin: 0;
    border: 2px solid #FF8303;
    cursor:  pointer;
    opacity: 50%;
}
.button_dialog:hover{
    opacity: 100%;
}

.button_task {
    background-color: #1B1A17;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    align-items: top;
    font-size: 40px;
    margin: 0;
    border: 2px solid #FF8303;
    cursor:  pointer;
}
.button_task:active{
    background-color: #1F1E1B;
}
.button_task img {
    width: 70%;
    height: 70%;
}