.button_add {
  background-color: #1b1a17;
  color: #ff8303;
  border-radius: 5px;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 40px;
  padding: 10px 10px;
  margin: 0;
  border: 2px solid #ff8303;
  cursor: pointer;
}
.button_add:active {
  background-color: #1f1e1b;
}

input,
.edit_window input {
  background-color: #1b1a17;
  color: #f0e3ca;
  border-radius: 5px;
  height: 40px;
  width: 1700px;
  text-align: left;
  padding: 0px 10px;
  font-size: 16px;
  margin: 0;
  border: 2px solid #ff8303;
  cursor: pointer;
  opacity: 50%;
}
input:focus {
  opacity: 100%;
  outline: none;
}
.button_dialog,
.button_share,
.task_window_button {
  background-color: #1b1a17;
  color: #f0e3ca;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  text-align: center;
  padding: 0px 10px;
  font-size: 16px;
  margin: 0;
  border: 2px solid #ff8303;
  cursor: pointer;
  opacity: 50%;
}
.button_dialog:hover {
  opacity: 100%;
}

.button_task {
  background-color: #1b1a17;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  align-items: top;
  font-size: 40px;
  margin: 0;
  border: 2px solid #ff8303;
  cursor: pointer;
}
.button_task:active {
  background-color: #1f1e1b;
}
.button_task img {
  width: 70%;
  height: 70%;
}
.edit_window,
.dialog_window,
.share_window,
.task_window {
  display: flex;
  flex-direction: column;
  background-color: #1b1a17;
  color: #ff8303;
  border-radius: 5px;
  height: 500px;
  width: 1800px;
  text-align: center;
  font-size: 40px;
  padding: 15px 15px;
  border: 2px solid #ff8303;
  gap: 15px;
}
.edit_window input {
  width: 100%;
}
textarea {
  background-color: #1b1a17;
  color: #f0e3ca;
  border-radius: 5px;
  height: 80%;
  width: 100%;
  text-align: left;
  padding: 10px 10px;
  font-size: 16px;
  margin: 0;
  border: 2px solid #ff8303;
  cursor: pointer;
  opacity: 50%;
}
textarea:focus {
  opacity: 100%;
}

.dialog_window {
  height: 250px;
  width: 500px;
  justify-content: space-between;
  padding: 30px 30px;
  color: #f0e3ca;
}
.dialog_window p {
  margin: auto;
}
.task_window {
  padding: 15px 30px;
  height: 140px;
  justify-content: space-between;
  width: 1800px;
  flex-direction: row;
  gap: 15px;
}
.task_window_button {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 95%;
  border: 0px;
  gap: 15px;
}
.task_window_button h2 {
  height: 70%;
  width: 40%;
  font-size: 40px;
  text-align: left;
}
.task_window_button p {
  height: 30%;
  width: 40%;
  font-size: 16px;
  text-align: left;
}
.share_window {
  height: 100px;
  width: 500px;
  justify-content: space-between;
  flex-direction: row;
  border: 0px solid #f0e3ca;
}
.button_share {
  background-color: #1b1a17;
  padding: 0 0;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 0px solid #f0e3ca;
  height: 50px;
  width: 50px;
  opacity: 50%;
}
.button_share img {
  margin: auto;
  height: 50px;
  width: 50px;
}

.button_share:hover {
  opacity: 100%;
}